extends ../shared/template

block content
  form(method='post', action='/login')
    input(type='email', name='email', placeholder='Email', autofocus=true, required='required')
    input(type='password', name='password', placeholder='Password', required='required')
    button Login
